@model IEnumerable<EmployeeManage.ViewModels.Responses.TotalDocumentsInfo>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CountDocumentPage</title>
</head>
<body>
    <div class="box-header">
        <h3 class="box-title">Document Count </h3>
    </div>
    <section class="content">
       
                <!-- /.box -->
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="font-weight:700">@Html.DisplayNameFor(model => model.EmployeeName)</th>
                                    <th style="font-weight:700">@Html.DisplayNameFor(model => model.DocumentName)</th>
                                    <th style="font-weight:700">@Html.DisplayNameFor(model => model.DocumentCount)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var emp in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => emp.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => emp.DocumentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => emp.DocumentCount)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            
    </section>
</body>
</html>