@model EmployeeManage.ViewModels.EmployeeCreateVM
@{
    ViewBag.Title = "Create";
}
<body>
    <div class="card">
        <h3 class="card-header">Create Employee</h3>


        <!-- /.box-header -->
        <div class="card-body">
            <form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post" class="m-3">
                <div class="form-group row">
                    <label asp-for="EmployeeName" class="col-sm-2 form-label">Name</label>
                    <div class="col-sm-8">
                        <input asp-for="EmployeeName" type="text" class="form-control" />
                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="EmployeeEmail" class="col-sm-2 form-label">Email</label>
                    <div class="col-sm-8">
                        <input asp-for="EmployeeEmail" type="text" class="form-control" />
                        <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="grossSalary" class="col-sm-2 form-label">GrossSalary</label>
                    <div class="col-md-4">
                        <input asp-for="grossSalary" type="number" class="form-control" />
                        <span asp-validation-for="grossSalary" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="DepartmentId" class="col-sm-2 form-label">Department</label>
                    <div class="col-md-4">
                        @Html.DropDownList("DepartmentId", Model.DepartmentList as SelectList, new { @class = "form-control select2  " })
                        @Html.ValidationMessageFor(x => x.DepartmentId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="branchId" class="col-sm-2 form-label">Branch</label>
                    <div class="col-md-4">
                        @Html.DropDownList("branchId", Model.BranchList as SelectList, new { @class = "form-control select2  " })
                        @Html.ValidationMessageFor(x => x.branchId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="NationalityId" class="col-sm-2 form-label">Nationality</label>
                    <div class="col-md-4 ">
                        @Html.DropDownList("NationalityId", Model.NationalityList as SelectList, new { @class = "form-control select2  " })
                        @Html.ValidationMessageFor(x => x.NationalityId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <div class="form-group">
                                <label asp-for="photo" col-form-label">Select Document</label>
                                <input asp-for="photo" type="file" />
                                @Html.ValidationMessageFor(x => x.photo, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                </div>




                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary m-1">Cancel </a>
                </div>
                <div asp-validation-summary="All"></div>
            </form>
        </div>
    </div>
        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var filename = $(this).val().split("\\").pop();
                        $(this).next('custom-file-label').html(filename);
                    });
                });
            </script>
        }

   
</body>